{% load static %}

<footer class="shadow p-3 rounded">
  <div class="container text-center">
    <div class="row align-items-start justify-content-evenly">
      <div class="col-lg-6 col-12 mb-1">
        <h5>Address</h5>
        <p>125 Wildland</p>
        <p>12-65478 Wild Haven</p>
      </div>
      <div class="col-lg-6 col-12 mb-1">
        <h5>Follow Us</h5>
        <ul>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener"
              aria-label="Instagram - Opens in a new tab"
            >
              <img
          src="{% static '/icons/instagram.svg' %}"
          alt="Instagram Icon"
          class="social-icon"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener"
              aria-label="Facebook - Opens in a new tab"
            >
              <img
          src="{% static '/icons/facebook.svg' %}"
          alt="Facebook Icon"
          class="social-icon"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/magdalena-redka-b97b9455/"
              target="_blank"
              rel="noopener"
              aria-label="Linkedin - Opens in a new tab"
            >
              <img
          src="{% static '/icons/linkedin.svg' %}"
          alt="LinkedIn Icon"
          class="social-icon"
              />
            </a>
          </li>
          <li>
            <a
              href="https://github.com/Magda-R-bit/Wild-Wellness"
              target="_blank"
              rel="noopener"
              aria-label="GitHub - Opens in a new tab"
            >
              <img
          src="{% static '/icons/github.svg' %}"
          alt="GitHub Icon"
          class="social-icon"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
