{% load static %} 

<header>
    {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg shadow p-3 mb-5 rounded">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#">Wild Wellness</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Wild Wellness</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 {% if url_name == 'cabins_list' %}active{% endif %}" aria-current="page" href="{% url 'cabins_list' %}">Cabins</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link mx-lg-2 {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link mx-lg-2 {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/
              ">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <a href="/accounts/login/" class="login-button {% if url_name == 'accounts_login' %}active{% endif %}">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      
    </div>
  </nav>
  {% endwith %}
</header>