{% extends "base.html" %}
{% block content %}
<div class="container text-center form mt-5">
    <h2>Check Cabin Availability</h2>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mb-2 w-50 w-md-50 w-lg-25">Search</button>
    </form>

    {% if available is not None %}
        {% if available %}
            <p style="color: green;">✅ This cabin is available!</p>
            <a href="{% url 'booking_create' %}?cabin={{ form.cabin.value }}&check_in={{ form.check_in.value }}&check_out={{ form.check_out.value }}" class="btn btn-success mt-2 mb-4">
                Proceed to Booking
            </a>
        {% else %}
            <p style="color: red;">❌ Sorry, this cabin is already booked.</p>
        {% endif %}
    {% endif %}

    
    <a href="{% url 'booking_list' %}" class="btn btn-secondary mb-2 w-50 w-md-50 w-lg-25">Back to Calendar</a>
    
</div>
{% endblock %}

