{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <h2>Your Bookings</h2>

    <div id="calendar" class="col-md-6 mx-auto" style="max-width: 380px;"></div>

    <hr>

    {% if bookings %}
        {% for booking in bookings %}
            <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                <img src="{{ booking.cabin.image.url }}" alt="{{ booking.cabin.name }}" width="150">
                <p><strong>Booking by:</strong> {{ booking.user.username }}</p>
                <strong>Cabin:</strong> {{ booking.cabin }} <br>
                <strong>Check-in:</strong> {{ booking.check_in }} <br>
                <strong>Check-out:</strong> {{ booking.check_out }} <br>
                <strong>Total Price:</strong> ${{ booking.total_price }} <br>
                <a href="{% url 'booking_update' booking.pk %}" class="btn btn-outline-warning btn-sm">
                    <i class="bi bi-pencil-square"></i> <strong>Edit</strong></a> | 
                <a href="{% url 'booking_delete' booking.pk %}" class="btn btn-outline-danger btn-sm">
                    <i class="bi bi-x-circle"></i> <strong>Delete</strong></a>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center" style="font-weight: bold; font-size: 1.2em;">You have no bookings yet.</p>
    {% endif %}

    <div class="text-center my-4">
        <a href="{% url 'booking_create' %}" class="btn btn-success">Create a new booking</a>
    </div>

    <!-- FullCalendar JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '{% url "booked_dates" %}',  // Fetch booked dates from backend
                eventColor: 'red'
            });
            calendar.render();
        });
    </script>

{% endblock %}