@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kumbh+Sans:wght@100..900&family=Yeseva+One&display=swap');


:root{
    /** Fonts */
    --title: 'Dancing Script', serif;
    --main-font: 'Kumbh Sans', serif;

    /* Colors */
    --primary-color: #F2F2F2;
    --green: rgb(17, 107, 54);
    --white: #fff;
    --hover-color: rgb(32, 117, 32);
    --light-green: rgb(164, 224, 164);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}


/* Header */
.check-button {
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    padding: 4px 6px;
    margin-left: 18px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.4s background-color;
    border: none;
}

.login-button {
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.4s background-color;
    border: none;
}

.login-button:hover,
.check-button:hover {
    background-color: var(--hover-color);
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.offcanvas-header, .offcanvas-body {
    background-color: var(--light-green);
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.navbar {
    background-color: var(--light-green);
}

/* Footer */

footer {
    background-color: var(--light-green);
    padding: 85px 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

.active {
    border-bottom: 2px solid var(--green);
    font-weight: 450;
}

/* Form */

.form {
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    border-width: 3px;
    border: 3px solid var(--green);
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h1, h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
    border: 3px solid var(--green);
}
.form-control {
    margin: 10px auto;
    width: 100%;
    max-width: 250px;
    padding: 8px;
    box-sizing: border-box;
    display: block;
    font-size: 0.9rem;
   
}


.form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    width: 100%;
}


.form-check-label {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    margin: 10px;
}

.form-check-input {
    width: 1rem;
    height: 1rem;
}

a {
    color: black;
}

li {
    list-style-type: none;
}
/* Images */

.img-fluid {
    margin-bottom: 30px;
}

/* User notification messages */

.alert {
    background-color: var(--green);
    color: var(--white);
    border: none;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
}

/* Review */

.star {
    font-size: 30px;
    cursor: pointer;
    color: lightgray;
    transition: color 0.3s;
}

.star.selected,
.star:hover {
    color: gold;
}

/* Calendar */

#calendar {
    width: 100%;
    margin: 0 auto;
}
.fc .fc-col-header-cell {
    background-color: var(--light-green);
    padding: 8px 0;
}

.fc .fc-daygrid-day-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-weight: bold;
}

@media (max-width: 765px) {
    #calendar {
        max-width: 80%;
        margin: 0 auto;
    }

    .fc .fc-toolbar-title {
        font-size: 1.4rem;
    }

    .fc .fc-button {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }
    
    .fc .fc-daygrid-event {
        font-size: 0.75rem;
        padding: 3px;
    }

    .fc .fc-daygrid-day-number {
        font-size: 0.85rem;
    }
}



@media (max-width: 414px) {
    #calendar {
        max-width: 300px;
    }

    #calendar .fc-toolbar-title {
        font-size: 1.1rem !important;
    }

    #calendar .fc-button {
        padding: 0.1rem 0.4rem !important;
        font-size: 0.75rem !important;
    }

    #calendar .fc-daygrid-event {
        font-size: 0.65rem !important;
        padding: 1px !important;
    }

}

@media (max-width: 375px) {
    #calendar {
        max-width: 270px;
    }

}
